@use "variables" as *;
@use "components/header";

// Базовые стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 40px;

  @media (max-width: 992px) {
    padding: 20px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
